{% load static %}
<html>
<title>Scholarship.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />

<body>
<!-- Header -->

<div class="bgimg w3-display-container w3-animate-opacity ">
<div class="w3-display-topleft w3-padding-large w3-xlarge">
<img src="{% static 'media/logo.png'%}" alt="" height="100" width="100" >
   
	
  </div>
<header class="w3-container w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo" style="color:#329E2E;","font-weight:bold;">Scholarship Help</h1>
  <p class="w3-xlarge"> </p>
  <!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">-->
	
<!--<h1 class="w3-jumbo w3-animate-top">Login</h1></button>-->
<form method="GET" action = "{% url 'login'%} " > 
<button type="submit" onClick= "<a href = class="w3-button w3-black " style="width:auto">LOGIN</button>
</form>
</header>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!--</div>-->
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About US</h1>
      <h5 class="w3-padding-32">Scholarships are gifts. They don't need to be repaid. There are thousands of them, offered by schools, employers, individuals, private companies, nonprofits, communities, religious groups, and professional and social organizations....  </h5>

      <p class="w3-text-grey"></p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-bank" style="font-size:180px;color:#333333; padding-left: 30px; padding-top:60px;"></i>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
     <h1 class="w3-margin w3-xlarge w3-text-light-grey">Copy Rights resverved &copy</h1>
</div>


<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
{% block content %}

{% endblock content %}
</body>
</html>
